.side-bar
  .side-bar__header
    .side-bar__header__top-items
      .side-bar__header__top-items__user-name
        = current_user.name
      .side-bar__header__top-items__btn
        =link_to new_group_path(current_user) ,class: "side-bar__header__top-items__btn--edit" do
          = icon('fas', 'edit', class: "side-bar__header__top-items__btn--edit")
        =link_to edit_user_path(current_user) ,class: "side-bar__header__top-items__btn--gear" do
          = icon('fas', 'cog', class: "side-bar__header__top-items__btn--gear")

  .side-bar__group-list
    - current_user.groups.each do |group|
      .side-bar__group-list__items
        = link_to '#' do
          .side-bar__group-list__items__name
            = group.name
          .side-bar__group-list__items__text
            まだメッセージがありません